/* Code highlight background window color override */
pre code.hljs {
  line-height: 0.8;
  padding: 2rem;
  margin-bottom: 2rem;
  background: linear-gradient(177.75deg, rgba(26, 27, 30, 0.9) 1.89%, rgba(12, 13, 17, 0.5) 98.11%);
  box-shadow:
    0 -2px 6px hsl(0deg 0% 100% / 17%),
    0 5px 18px rgb(0 0 0 / 40%),
    0 4px 40px 8px rgb(0 0 0 / 40%),
    0 1px 4px -1px rgb(0 0 0 / 30%),
    inset 0 0 0 0.3px hsl(0deg 0% 100% / 30%),
    0 0 0 0.5px hsl(0deg 0% 100% / 40%);
}

pre code::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

p code {
  padding: 1px 5px;
  border-radius: 3px;
  font-family:
    inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Helvetica,
    'Apple Color Emoji',
    Arial,
    sans-serif,
    'Segoe UI Emoji',
    'Segoe UI Symbol';
  border: 1px solid rgba(58, 58, 58, 0.2);
  padding-top: 2px;
  /* background-color: rgba(240, 240, 245, 0.1); */
  /* background-color: rgb(43, 43, 43); */
  background-color: var(--colors--background--bg-quaternary);
}
